<!doctype html>
{% extends "main.html" %}
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'home.css' %}"/>
    <title>homepage</title>
  </head>
  <body>
    {% block content %}
    <div class="container">
      <div class="box">
        <h1>Welcome to the Checkers and Chess Game!</h1>
        <p>
          Experience the thrill of strategy and competition with our online
          Checkers and Chess game.
        </p>
        <p>
          Play against friends or challenge the computer. Choose your game mode
          and start playing!
        </p>
      </div>
    </div>
    {% endblock content %}
  </body>
</html>
