<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'main.css' %}"/>
    <title>homepage</title>
  </head>
  <body>
    <header>
      <p class="title">Checkers and Chess</p>
      <nav class="navigation">
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'checkers' %}">Checkers</a></li>
          <li><a href="{% url 'chess' %}">Chess</a></li>
        </ul>
      </nav>
    </header>

    {% block content %}

    {% endblock %}

    <footer>
      <div class="footer-content">
        <p class="footer-text">Checkers Game</p>
        <p class="footer-text">Created by Group 2</p>
        <p class="footer-text">CPSC 362 - Spring 2025</p>
      </div>
    </footer>
  </body>
</html>
